@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';

body {
    color: $main-color;
    background-color: $body-bg;
    text-align: center;
}


h1, h2, h3, h4 { font-family: 'Poppins', sans-serif; color: $heading-color; }
h1 {font-size: 42px;}
p {  font-family: 'Poppins', sans-serif;}
a {color: #f2f2f2; font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: bold; text-decoration: none; margin: 10px;}
#bio {font-size: 18px;}
#errorImg {width: 60%;}
#backHome:hover {color: #F2865E; }

.panel {
    padding: 10px 0 10px 0; 
}
.panel:nth-child(odd) {
    background-color: #f2f2f2;
    color: #2C4859;
}

#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }

.hidden{
    display: none;
}

#logo{
    width: 250px;
}

@import 'modules/_footer';
