<section id="section1" class="panel">
    <div class="bio-info">
        <h1 class="p-name">Why are Sports Important for kids?</h1>
        <p>Growing up my parents pushed me to play as many sports as possible, so I practically played every sport here and there which I’m forever grateful for. I think being apart of team sports is absolutely necessary for young kids in order to develop strong communication, team work, selflessness, and coordination skills that will benefit kids forever.
        </p>
    </div>

</section>
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">
    <h1 class="user-panel-heading">
        MY FAVOURITE SPORTS.
    </h1>

    <h4>Click on a sport below to learn about my history with the game!</h4>

    <div class="team">
        <!-- loop through all our team members and put their info on the page -->
         <!-- this is exact;y like a forEach loop with plain JavaScript -->
        {{#each people}}
            <div class="user-panel">
                <img class="u-avatar" src="images/{{image}}" alt="Sport image">
                <a class="u-link" href="{{ID}}">Read More</a>
                <h1 class="u-name">{{title}}</h1>
            </div>
        {{/each}}
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">

        </div>
    </section>
</section>
{{!-- <section id="section4" class="panel">panel 4</section>
<section id="section5" class="panel"></section> --}}