<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Graham Favourite Sports!</title>
</head>

    <h1 class="hidden">Graham's Favourite Sports!</h1>
    <div class="mainNav">
        <nav data-module="nav">
            <img id="logo" src="images/logo.svg" alt="Sports Canada">
            <ul>
                <li><a href="#" class="nav-item">HOME   </a></li>
                <li><a href="#section1" class="nav-item">ABOUT   </a></li>
                <li><a href="#section3" class="nav-item">SPORTS   </a></li>
                <li><a href="blog.hbs" class="nav-item">BLOG   </a></li>
                <li><a href="contact.hbs" class="nav-item">CONTACT   </a></li>
            </ul>
        </nav>
    </div>
<body>
    

    <main>
        {{{ body }}}
    </main>

    <footer>
        <p>© 2019 Graham Vickers</p>
    </footer>

    <a id="to-top" href="#" class="nav-item">back to top</a>

    <script type="module" src="js/main.js"></script>

    <script>
        var name = "GRAHAM VICKERS";
        console.log('name in main file: ' + name);
    </script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">Read More</button>
        </div>
    </template>
    <!-- end templates-->

    <script src="js/main.js"></script>
</body>

</html>