
nav {
    background-color: #2C4859;

    ul {
        margin: 0;
        padding: 0;

        li { display: inline; }
    }

    a { text-decoration: none; }

    a:hover {
        color: #F2865E;
    }
}